@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700;800&display=swap');
*{
    direction: rtl;
    font-family: 'Alexandria', sans-serif;
}
.testi-item-info img {
    width: 70px;
    height: 70px;
}